
body {
   font-family: "PT Sans", Arial, sans-serif;
   font-size: 16px;
   text-transform: uppercase; 
   width: 1200px;
   height: 100%;
   margin: 0 auto;
}
.main-body header { 
   width: 1200px;
   margin: 0; /*Что это за отступ слева? Уже везде 0 маргины.*/
}
.site-navigation img:hover {
   box-shadow: none;
}
.section-welcome {
   background-image: url("../img/img-index/background-main.jpg");
   background-repeat: no-repeat;
   background-size: 100%;
   height: 493px;
}
.site-navigation {
   display: flex;
   flex-direction: row;
   justify-content: space-around; 
   background-color: white;
   margin: 0px; /*Что это за отступ слева? Уже везде 0 маргины.*/
   height: 56px;
   width: 1200px;
}
.site-navigation li {
   display: flex;
   width: 239px;
   margin: auto;
}
.site-navigation a {
   font-family: "PT Sans", Arial, sans-serif;
   font-size: 14px;
   color: #000000;
   font-weight: bold;
}
.site-navigation a:visited {
   color:rgba(0, 0, 0, 0.3);
}
.site-navigation a:hover {
   color: #81b3d2;
}
.site-navigation a:activ, .site-navigation a:focus {
   color: #766357; 
}
li:nth-child(3) {
   width: 244px;
   padding-top: 0;
}
.img-polygon { /*Также можно добавив как фоновое изображение с наложением, background-position, z-index*/
   width: auto;
   background-color: transparent;
   margin-top: -57px;
}
.sedona-deserves {
   height: 216px;
   width: 100%;
   margin: 0;
   margin-top: -25px; /*Пока так. После абсолют.поз. img-polygon поправить.*/
   background-color: white;
}
.s-deserves {
   display: block;
   width: 440px;
   height: 48px;
   margin-left: auto;
   margin-right: auto;
   padding: 0;
   padding-top: 60px;
   font-family: "PT Sans", Arial, sans-serif;
   font-size: 21px;
   color: black;
   font-weight: bold;
   text-align: center;
   background-color: white;
}
.s-reasons {
   display: block;
   width: 489px;
   height: 13px;
   margin-left: auto;
   margin-right: auto;
   padding: 0px;
   margin-top: 38px;
   background-color: white;
   font-family: "PT Sans", Arial, sans-serif;
   line-height: 13px;
   font-size: 14px;
   display: block;
   color: #333333;
   text-align: center;
   background-color: white;
}
.visually-hidden {
   position:absolute;
   width: 1px;
   height: 1px;
   margin: -1px;
   border: 0;
   padding: 0;
   clip: rect (0 0 0 0);
   overflow: hidden;
}
.welcome-img {
   display: block;
   width: 459px;
   margin-left: auto;
   margin-right: auto;
   padding-top: 76px;
}
.polygon {
   width: 1200px;
   height: 59px;
   background-image: url("img/img-index/polygon.svg");
   background-position: 506px 0;
   z-index: 1;
}

/*БЛОК В СЕРЕДИНЕ*/
.center-section {
   display: flex;
   flex-flow: row wrap;
   justify-content: center;
   align-items: stretch;
   align-content: stretch;
   width: 100%;
   margin: 0; /*Откуда отсутп слева?*/
   list-style: none;
}
.true-city {
   display: flex;
   flex-flow: row nowrap;
   justify-content: center;
   align-items: center;
}
.inside-box {
   margin: 0;
   background-color: #bfdbec;
   width: 400px; /*Значение auto не сработало.*/
   min-height: 256px;
   padding: 0;
}
.inside-box h3 {
   line-height: 21px;
   text-align: center;
   font-size: 21px;
   font-weight: bold;
   color: white;
   padding-top: 46px; /*Есть ли другой способ отцентровать блок?*/
}
.inside-box p {
   line-height: 21px;
   text-align: center;
   font-size: 14px;
   color: white;
}
.img-1 {
   width: 800px; /*Почему здесь не сработало значение авто?*/
   height: 256px;
   margin: 0;
   background-image: url("../img/img-index/background-city.jpg");
   background-repeat: no-repeat;
}

.icon-area {
   display: flex;
   flex-flow: row nowrap;
   justify-content: center;
   align-items: center; 
   width: 100%;
   background-color: white;
}
.house-item { /*КАК ЭТИ КЛАССЫ ВМЕСТЕ ПРОПИСАТЬ??*/
   min-width: 284px;
   min-height: 320px;
   margin: auto;
   padding: auto;
}
.food-item {
   min-width: 284px;
   min-height: 320px;
   margin: auto;
   padding: auto;
}
.gift-item {
   min-width: 284px;
   min-height: 320px;
   margin: auto;
   padding: auto; /*ОТКУДА ПРАВЫЙ МАРГИН??*/
}

.icon-area h3 {
   font-size: 21px;
   line-height: 21px;
   text-align: center;
   background-color: white;
   font-weight: bold;
   color: black;
}
.icon-area p {
   font-size: 14px;
   line-height: 21px;
   text-align: center;
   background-color: white;
   font-weight: bold;
   color: #333333;
}
.icon {
   display: block;
   width: 76px;
   height: 76px;
   margin: auto;
   margin-top: 50px; 
   background-repeat: no-repeat;
}

.icon-food {
   background-image: url(../img/img-index/icon-3.food.svg); 
}
.icon-gift {
   background-image: url(../img/img-index/icon-2.gifts.svg);
   background-repeat: no-repeat;
}
.icon-house {
   background-image: url(../img/img-index/icon-1.house.svg);  
}

.devil-bridge {
   display: flex;
   flex-flow: row nowrap;
   justify-content: center;
   align-items: center;
   width: 100%;
}
.img-2 {
   width: 800px;
   height: 256px;
   margin: 0;
   background-image: url(../img/img-index/canyon.jpg);
   background-repeat: no-repeat;
}

.advantages {
   display: flex;
   flex-flow: row nowrap;
   justify-content: center;
   align-items: center;
   background-color: #eeeeee;
}
.number {
   position: relative;
}
.number::before { /*Почему не сработало?*/
   content: " "
   position: absolute;
   left: 35px;
   top: 5px;
   width: 5px;
   height: 1px;
   background-color: #333333;
}
.square {
   width: 218px; /*Пришлось изменить ширину с 208, уменьшить отступ слева на 10, т.к. не вмещался текст. Почему?*/
   height: 134px;
   margin: 30px 97px 73px 85px;
   background-color:#eeeeee;
}
.road {
   width: 272px; /*Также пришлось увеличить ширину на 10px, уменьшить отступы по бокам.*/
   height: 142px;
   margin: 30px 64px 73px 64px;
   background-color:#eeeeee;
}
.tourist {
   width: 260px; /*Также пришлось увеличить ширину на 14px, уменьшить отступы по бокам.*/
   height: 142px;
   margin: 30px 70px 73px 70px;
   background-color:#eeeeee;
}
.advantages h3 {
   font-size: 21px;
   line-height: 21px;
   text-align: center;
   width: 100%;
   background-color:#eeeeee;
   font-weight: bold;
   color:#000000;
}
.advantages p {
   line-height: 21px;
   text-align: center;
   font-size: 14px;
   color: #333333;
}
/*КОНЕЦ БЛОКА*/

.interest-search {
   width: auto;
   height: 298px;
   margin-top: 0;
   background-color: white;
}
.search {
   width: 434px;
   height: 96px;
   margin-left: auto;
   margin-right: auto;
   padding-top: 27px;
   background-color: white;
}
.s-interest {
   width: 100%;
   margin-left: auto;
   margin-right: auto;
   font-size: 30px;
   color: black;
   font-style: normal;
   font-weight: bold;
   line-height: 36px;
   text-align: center;
   background-color: white;
}
.s-search {
   width: auto;
   margin-left: auto;
   margin-right: auto;
   font-size: 13px; /*почему не поместилось в боксе?*/
   color: #333333;
   line-height: 24px;
   text-align: center;
   background-color:white;
}
a :hover {
   outline: 0;
   /*box-shadow: 0 0 0 3px red;*/
}
.img-map {
   width: 100%;
   height: 593px;
}
.search-button {
   position: absolute;
   left: calc(50% - 568px / 2);
   bottom: 612px;
   box-sizing: border-box;
   width: 568px;
   height: 86px;
   background-color: #766357;
   border: none;
   color: white;
   text-align: center;
   font-size:21px;
   font-weight: bold;
   text-transform: uppercase;
}
.search-button:hover {
   background-color: #604e43;
}
.search-button:active,
.search-button:focus {
   background-color: #503e33;
   color: rgba(255, 255, 255, 0.3)
}
/*ФОРМА ПОИСКА*/

.hotel-search {
   position: absolute;
   bottom: 140px;
   left: calc(50% - 568px / 2);
   width: 568px;
   min-height: 481px;
}
.search-form { 
   display: flex;
   flex-wrap: wrap;
   justify-content: space-between;
   align-items: center;
   box-sizing: border-box; /*Почему ширина бокса не скорректировалась?*/
   margin: 0;
   border: none;
   width: 568px;
   padding: 53px;
   background-color: white;
}
.search-form div {
   width: 462px;
   height: 38px;
   margin-bottom: 29px;
   display: flex;
   flex-wrap: nowrap;
   justify-content: space-between;
   align-items: center;
}
.ar-date input {
   box-sizing: border-box;
   width: 346px;
   height: 38px;
   margin-left: 11px;
}
.search-form input {
   background-color: #f2f2f2;
}
.search-form input:hover {
   background-color: #ebebeb;
}
.search-form input:active,
.search-form input:focus {
   background-color:#ffffff;
}
.dep-date input {
   box-sizing: border-box;
   width: 346px;
   height: 38px;
   margin-left: 8px;
}
.quantity input {
   width: 114px;
   height: 38px;
   margin: 0;
}
#adults-quantity {
   margin-left: 22px;
}
#kids-quantity {
   margin-left: 15px;
}
.search-b {
   width: 458px;
   height: 58px;
   background-color: #81b3d2;
   color: white;
   font-size: 21px;
   text-align: center;
   font-weight: bold;
   text-transform: uppercase;
   border: none;
   margin-top: 26px;
}
.search-b:hover {
   background-color:#669ec0;
}
.search-b:active,
.search-b:focus {
   background-color: #5496bd;
   color: rgba(255, 255, 255, 0.3);
}
.site-navigation {
   font-family: "PT Sans", Arial, sans-serif;
   font-size: 14px;
   text-align: center;
   line-height: 26px;
   color: black;
   text-transform: uppercase;
   list-style: none;
}
a {
  text-decoration: none;
}
.welcome-img {
  display: block;
  margin: 0 auto;
}
.item-name {
   font-family: "PT Sans", Arial, sans-serif;
   font-weight: bold;
   font-style: normal;
   font-size: 21px;
   text-align: left;
   line-height: 26px;
}
.item-name:hover {
  color: #81b3d2;
}

.item-name:focus {
   color: #black;
}
.item-name:active {
   color: rgba(0, 0, 0, 0.3);
} /*почему не сработало?*/

/*FOOTER*/
.main-footer { 
   display: flex;
   flex-direction: row;
   justify-content: space-around;
   align-items: center;
   width: 1200px;
   background-color: white;
   opacity: 0.9;
   margin: 0;
   flex: 1 0 auto;
} 
.site-navigation {
   margin-left: 0;
}
.site-navigation li:first-child {margin-left: 35px;}
.visit {
   font-family: "PT Sans", Arial, sans-serif;
   font-size: 21px;
   color: #000000;
   font-weight: bold;
}
.footer-social {
   display: flex;
   flex-wrap: nowrap;
   flex-direction: row;
   justify-content: center;
   width: 144px;
   height: 48px;
}
.footer-social li {
   margin-right: 5px;
   list-style: none;
   vertical-align: bottom;
}
.social {
   display: flex;
   align-items: center;
   justify-content: center;
   width: 46px;
   height: 48px;
   background-color: #81b3d2;
}
.social:hover {
   background-color: #669ec0;
}
.social:active,
.social:focus {
   background-color:#5496bd;
}
/*.social-tw {
   background-image: url("img/twitter-icon.svg");
}
.social-fb {
   background-image: url("img/fb-icon.svg");
}
.social-yt {
   background-image: url("img/utube-icon.svg");
}Хотела img перенести из html как фоновую картинку*/

.footer-copyright {
   display: flex; 
   align-items: center;
 }
 .footer-copyright span {
    color: black;
 }
 .footer-copyright p {
    width: 115px;
    height: 41px;
    margin-left: 6px;
    background-image: url("../img/logo-name.png");
 }
 .footer-copyright p:hover {
   background-image: url("../img/logo-name-2.png")
}
.footer-copyright p:active,
.footer-copyright p:focus {
   background-image: url("../img/logo-name-3.png")
}
 .footer-copyright a {
    color: black;
    font-size: 14px;
 }
 .copyright {
    padding-right: 8px;
 }
 body {
   height: 100%;
   min-width:900px;
}
html { 
   position:relative; 
   min-height:100%;
  }
footer {
   height: 120px; 
   position: absolute;
   bottom: 0;
   width: 100%;
  }

/*INNER PAGE. Блок фильтра поиска*/

.search-filter { 
   display: flex;
   justify-content: space-between;
   align-items: top;
   width: 100%;
   min-height: 217px;
   background-image: url("../img/img-hotels/filter-background.jpg");
   background-repeat: no-repeat;
   background-size: 100%;
   margin: 0;
}
.search-filter ul {
   list-style: none;
   font-size: 16px;
   line-height: 21px;
   text-align: left;
   text-transform: uppercase;
   color: white;
   margin-top: 10px;
}
.search-filter li {
   font-size: 14px;
   color: #ffffff;
   margin-top: 36px;
   margin-bottom: 36px;
}
.search-filter h2 {
   font-size: 16px;
   color: #ffffff;
}
.filter-range {
   width: 330px;
   margin: 50px auto; /* для демо */
   color: #ffffff;
   text-transform: uppercase;
 }
 .filter-range-title {
   margin-bottom: 9px;
   font-weight: 600;
   font-size: 16px;
   line-height: 21px;
 }
 .price-controls {
   position: relative;
   height: 36px;
   margin-bottom: 20px;
   font-size: 0;
   border: 2px solid #ffffff;
   border-radius: 2px;
 }
 .price-controls::after {
   content: "";
   position: absolute;
   top: 50%;
   left: 50%;
   width: 2px;
   height: 22px;
   background: #ffffff;
   transform: translate(-50%, -50%);
 }
 .price-controls label {
   display: inline-block;
   font-size: 14px;
   line-height: 38px;
   vertical-align: top;
   cursor: pointer;
 }
 .price-controls .min-price,
 .price-controls .max-price {
   width: 90px;
   padding-left: 65px;
 }
 .price-controls input {
   width: 50px;
   margin: 0;
   color: inherit;
   font: inherit;
   background: none;
   border: none;
 }
 .range-controls {
   position: relative;
   margin-bottom: 32px;
 }
 .range-controls .scale {
   height: 2px;
   background: rgba(255, 255, 255, 0.3);
 }
 .range-controls .bar {
   width: 80%;
   height: 2px;
   background: #ffffff;
 }
 .range-toggle {
   position: absolute;
   top: -9px;
   width: 4px;
   height: 4px;
   background: #ababab;
   border: 8px solid #ffffff;
   border-radius: 50%;
   box-shadow: 0 2px 1px 0 rgba(0, 1, 1, 0.2);
   cursor: pointer;
 }
 .range-toggle:hover {
   background: #1c4f80;
 }
 .range-toggle-min {
   left: 0;
 }
 .range-toggle-max {
   left: 80%;
 }
 .btn-transparent {
   display: block;
   margin: 0 auto;
   padding: 6px 35px;
   font-size: 14px;
   line-height: 20px;
   color: #ffffff;
   text-transform: uppercase;
   background: transparent;
   border: 2px solid #ffffff;
   border-radius: 2px;
   cursor: pointer;
 }
 .btn-transparent:hover {
   color: #000000;
   background: #ffffff;
 }
.search-result p {
   display: inline-block;
   margin-right: 20px;
}
.search-result h2 {
   display: inline-block;
   font-size: 21px;
   line-height: 26px;
   color: #000000;
   padding: 31px 72px;
   margin: 0;
   padding-right: 46px;
}
.sorted {
   font-size: 12px;
   color: #000000;
}
.price {
   font-size: 12px;
   color: #81b3d2;
}
.type {
   font-size: 12px;
   border-bottom: 1px dotted #81b3d2;
   color: rgba(0, 0, 0, 0.3);
}
.type:hover {
   color: #81b3d2;
}
.type:focus, .type:active {
   color: #000000;
}
.rating {
   font-size: 12px;
   border-bottom: 1px dotted #81b3d2;
   color: rgba(0, 0, 0, 0.3);
}
.rating:hover, .rating:active {
   color: #81b3d2;
}
.rating:focus {
   color: #000000;
}
hr {
  color: #f2f2f2;
  width: 1200px;
  height: 1px;
}
/*INNER. Секция с результатами*/

.catalog {
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   align-content: flex-start;
   flex-wrap: nowrap;
   width: 100%;
   min-height: 453px;
   margin: 0;
   margin-bottom: 120px;
   padding: 0;
   margin-top: -10px;
}
.catalog-line {
   display: flex;
   flex-direction: row;
   justify-content: flex-start;
   padding: 31px 73px;
   height: 100px;
   width: auto;
}
.central-block {
   display: flex;
   flex-direction: row;
   justify-content: flex-start;
   flex-wrap: wrap;
   box-sizing: bo
   width: 300px;
   height: 90px;
   margin-left: 30px;
}
.catalog h3 {
   margin: 0;
   padding: 0;
   height: 26px;
   width: 100%;
   font-size: 21px;
   text-align: left;
   text-weight: bold;
   color: #000000;
}
.catalog span {
   display: block;
   width: 110px;
   height: 21px;
   margin-right: 5px;
   margin-top: 8px;
   font-size: 14px;
   color: #333333;
}
.detailed {
   width: 110px;
   height: 23px;
   background-color:#81b3d2;
   margin-right: 5px;
   margin-top: 8px;
   padding-top: 4px;
   text-align: center;
}
.detailed:hover {
   background-color: #669ec0;
}
.detailed:active, 
.detailed:focus {
   background-color: #5496bd;
   color: rgba(255, 255, 255, 0.3);
}
.reservation-button {
   width: 142px;
   height: 27px;
   background-color: #766357;
   margin-top: 8px;
   font-size: 14px;
   color: white;
   font-weight: bold;
   text-transform: uppercase;
   border: none;
}
.reservation-button:hover {
   background-color: #604e43;
}
.reservation-button:active, .reservation-button:focus {
   background-color: #503e33;
   color: rgba(255, 255, 255, 0.3);
}
.central-block a {
   font-size: 14px;
   color: white;
   font-weight: bold;
   text-transform: uppercase;
   text-align: center;
   padding: 7px 17px; /*Почему отступы неравноменрные??*/
}
.central-block h3 {
   font-size: 21px;
   font-weight: bold;
   color: #000000;
}
.central-block h3:hover {
   color: #81b3d2;
}
.central-block h3:active,
.central-block h3:focus {
   color: rgba(0, 0, 0, 0.3);
}
.block-rate {
   position: relative;
   margin-left: 510px;
   width: 110px;
   height: 90px;
}
.block-rate p {
   box-sizing: border-box;
   width: 110px;
   height: 27px;
   margin-top: 66px;
   background-color:#f2f2f2;
   font-size: 14px;
   color: #666666;
   text-align: center;
   padding-top: 5px;
}
.block-rate p::before {
   content: ""
   position: absolute;
   width: 18px;
   height: 17px;
   background-image: url("../img/img-hotels/icon.star.svg");
   background-repeat: repeat;

}
.catalog-line div {
   height: 90px;
}
 hr {
    margin: 0;
 }