@import url("../fonts/font-face.css")

@font-face {
   font-family: "PTSans";
   url("../fonts/PTSans-Web-Regular.ttf") format("truetype");
   font-style: normal;
   font-weight: normal;
} /***Зачем оно здесь нужно? Если весь font-face подключен сверху*/

.visually-hidden {
   position:absolute;
   width: 1px;
   height: 1px;
   margin: -1px;
   border: 0;
   padding: 0;
   clip: rect (0 0 0 0);
   overflow: hidden;
}

.a :hover {
   outline: 0;
   box-shadow: 0 0 0 3px red;
}

.hotel-search {
   display: none;
}

body {
   font-family: "PTSans", sans-serif;
   font-size: 16px;
   text-transform: uppercase;
   background-color: #9FBFDF;
}

.main-body {
   background-color: #9FBFDF;
   background-image: url("../img/img-index/background-main.jpg");
   background-repeat: no-repeat;
   background-attachment: fixed;
}

.site-navigation {
   font-family: "PTSans";
   font-size: 14px;
   text-align: center;
   line-height: 26px;
   color: black;
   text-transform: uppercase;
   list-style: none;
}

a {
  text-decoration: none;
}

.welcome-img {
  display: block;
  margin: 0 auto;
}

 .sedona_deserves {
   font-size: 21px;
   color: black;
   text-align: center;
}

 .sedona_reasons {
   font-size: 14px;
   color: #333333;
   text-align: center;
}

.interest {
   font-family: "PTSans";
   font-size: 30px;
   color: black;
   font-style: normal;
   font-weight: bold;
   text-align: center;
   line-height: 36px;
}

.item-name {
   font-family: "PTSans";
   font-weight: bold;
   font-style: normal;
   font-size: 21px;
   text-align: left;
   line-height: 26px;
   color: black;
}

.item-type
.item-price {
   font-family: "PTSans";
   font-weight: normal;
   font-style: normal;
   font-size: 14px;
   text-align: left;
   line-height: 21px;
   color: black;
}

.button-detailed
.reservation-button {
   font-family: "PTSans";
   font-weight: bold;
   font-style: normal;
   font-size: 14px;
   text-align: left;
   line-height: 21px;
   color: #ffffff;
   background-color:
}

.catalog-item {
   style: none;
   text-decoration: none;
}
