@font-face {
    font-family: "PTSans";
    src: url("PTSans-Web-Regular.eot");
    src: local("PTSans"),
         url("PTSans-Web-Regular.eot?#iefix") format("embedded-opentype"),
         url("PTSans-Web-Regular.woff") format("woff"),
         url("PTSans-Web-Regular.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
        font-family: "PTSans";
        src: url("PTSans-Web-Bold.eot");
        src: local("PTSans"),
             url("PTSans-Web-Bold.eot?#iefix") format("embedded-opentype"),
             url("PTSans-Web-Bold.woff") format("woff"),
             url("PTSans-Web-Bold.ttf") format("truetype");
         font-weight: bold;
         font-style: normal;
         }

@font-face {
         font-family: "PTSans";
         src: url("PTSans-Web-Bolditalic.eot");
         src: local("PTSans"),
             url("PTSans-Web-Bolditalic.eot?#iefixformat("embedded-opentype"),
             url("PTSans-Web-Bolditalic.woff") format("woff"),
             url("PTSans-Web-Bolditalic.ttf") format("truetype");
         font-weight: bold;
         font-style: italic;
            }

@font-face {
         font-family: "PTSans";
         src: url("PTSans-Web-Italic.eot");
         src: local("PTSans"),
             url("PTSans-Web-Italic.eot?#iefixformat("embedded-opentype"),
             url("PTSans-Web-Italic.woff") format("woff"),
             url("PTSans-Web-Italic.ttf") format("truetype");
         font-weight: normal;
         font-style: italic;
      }
